html, body {
    height: 100%;
}

html .container {
  min-height: 100%;
}

body {
    background-image: url('../img/graf.jpg');
}

h2 {
    text-align: center;
    font-size: 50px;
}

.jumbotron {
    background-color: rgb(126, 106, 128);
    margin: 0;
}

.jumbotron h1 {
    font-family: 'Mystery Quest', cursive;
    font-size: 80px;
    font-weight: bold;
}

.sub-header {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 40px;
}

.footer {
    background-color: rgb(126, 106, 128);
    padding: 30px;
    text-align: center;
}

.bold {
    font-family: 'Mystery Quest', cursive;
    font-size: 60px;
    font-weight: 400;
    color: rgb(219, 32, 94);
}

.jumbotron {
    text-align: center;
}

.container {
    background-color: rgb(210, 199, 208);
    opacity: 0.9;
    padding-top: 200px;
}
